@model Navette.Models.request
@{
    ViewBag.Title = "Custom Requests";
    Layout = "~/Views/Shared/_Traveller_layout.cshtml";
}
<link href="~/Content/Style/Login.css" rel="stylesheet" />
<link href="~/Content/Style/Provider_index.css" rel="stylesheet" />
<div class="Lines">
    <h2>Custom Request</h2>

    @using (Html.BeginForm())
    {

    <div class="input-group">
        <label>Departure Location</label>
        @Html.TextBoxFor(model => model.departure_location, "", new { @Class = "form-control" })
    </div>
    <div class="input-group">
        <label>Arrival Location</label>
        @Html.TextBoxFor(model => model.arrival_location, "", new { @Class = "form-control" })
    </div>
    <div class="input-group">
        <label>Departure time</label><input type="time" name="Departure Time" />
    </div>
    <div class="input-group">
        <label>Estimated Arrival Time</label><input type="time" name="Estimated Arrival Time" />
    </div>
    <div class="input-group">
        <label>Days</label>
        @Html.TextBoxFor(model => model.day, "", new { @Class = "form-control" })
    </div>
    <div class="radio" >
        <input type="radio" class="radio1" name="weekly" id="weekly" value="Weekly" /><label for="weekly">Weekly?</label><br />
        <input type="radio" class="radio2" name="weekly" id="once" value="Once" /><label for="once">Once?</label><br />
    </div>
    @ViewBag.success
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="CustomRequest" class="btn btn-default" />
    </div>

    }
</div>