@*model Navette.Models.request*@
@{
    ViewBag.Title = "CustomRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomRequest</h2>

@Html.BeginForm()
{
<div class="input-group">
    @*Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model =>model.)*@
</div>
    }
