@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/Style/Index.css" rel="stylesheet" />
</head>
<body>
    <section class="home-main-section">
        <div class="img-wrapper">
            <div id="driver">
         
            </div>
        </div>
        <div class="call-to-action">
            <h1 class="title">Welcome to Navette</h1>
            <span class="subtitle">With Navette don't every worry about getting to work on time</span>
            <a  href=@Url.Action("UserType","Usermanagement")>Join </a>
          
        </div>

    </section>
   
</body>
